{% load static %}
<div class="clients-area section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                    <div class="offers-img">
                        <img src="{% static 'img/gallery/brinco1.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>1</span>
                        <h3><a href="services.html">Algum Titulo</a></h3>
                        <p>Descricao.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                    <div class="offers-img">
                        <img src="{% static 'img/gallery/anelbottom1.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>2</span>
                        <h3><a href="services.html">Algum Titulo</a></h3>
                        <p>Descricao.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s">
                    <div class="offers-img">
                        <img src="{% static 'img/gallery/brinco3.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>3</span>
                        <h3><a href="services.html">Brincos Lindos Maravilhosos</a></h3>
                        <p>Descrision.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ofeers-cap"></div>