{% load static %}
<section class="instagram-area fix pb-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                <div class="section-tittle text-center mb-80">
                    <h2>Siga nosso Instagram</h2>
                    <p>Algum texto? Siga no</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-instagram mb-30">
                    <img src="{% static 'img/gallery/insta1.jpg' %}" alt="">
                    <a href="https://www.instagram.com/lampros.pratas/"><i class="ti-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-instagram">
                    <img src="{% static 'img/gallery/insta2.jpg' %}" alt="">
                    <a href="https://www.instagram.com/lampros.pratas/"><i class="ti-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<footer>
    <div class="footer-wrapper section-bg2 pl-100"  data-background="{% static 'img/gallery/footer-bg3.png' %}">