{% load static %}
<section class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>Sobre Nossos<br>Produtos</h2>
        <p class="pera-top">Algum texto mais destaque</p>
        <p class="pera-bottom">Texto menor mais cheio</p>
        <a href="#" class="btn">Saiba Mais ! </a>
    </div>
</section>
<!-- Visit Our Tailor End -->
<!--? Services Area Start -->
<section class="categories-area section-padding40">
    <div class="container">
        <!-- section Tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                <div class="section-tittle text-center mb-60">
                    <h2>Por que comprar com a gente?</h2>
                    <p>Aqui vc encontra as melhores joias sla</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'img/icon/anel.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Aneis de qualidade ? claro</h5>
                        <p>Com a gente voce encontra as melhores pecas com os menores precos</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'img/icon/brinco.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Algum diferencial</h5>
                        <p>Explain plz.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{% static 'img/icon/colar.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Outro diferencial sobre</h5>
                        <p>same :)</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="{% static 'img/icon/envio.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Entrega ?</h5>
                        <p>Pensei algo sobre a entrega.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>